
<ion-content *ngIf="EVs">
      <div class="filter-container">
            <h1>ESPACES VERTS A-Z</h1>
            <ion-icon class="icon-filtrer" name="options" (click)="goToFilter()"></ion-icon>
      </div>

      <ion-list *ngIf="EVs.length > 0; else noEVItems">
            <ev-item *ngFor="let ev of EVs" [ev]="ev"></ev-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Espaces verts oh mon dieu espaces verts...">
            </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
      <!-- IMPORTANT: If there aren't any ev-item -->
      <ng-template #noEVItems>
                  <div class="quiver">
                        <span class="arrows st"></span>
                        <span class="arrows nd"></span>
                        <span class="arrows rd"></span>
                        <span class="arrows th"></span>
                        <span class="arrows fth"></span>
                        <span class="loading">En cours de chargement...</span>
                  </div>
      </ng-template>
</ion-content>


